# Reduce npm verbosity to save disk space
loglevel=error

# Don't save package-lock.json
package-lock=false

# Don't generate a package-lock.json file
package-lock-only=false

# Don't install optional dependencies
optional=false

# Don't install development dependencies in production
production=true

# Don't generate audit reports
audit=false 